<div id="header-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <header id="header">
                    <h1><a href="https://localhost:44330/" id="logo">Интернет Магазин</a></h1>
                    <nav id="nav">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Главная</a>
                        <a href="https://localhost:44330/Products/List">Товары</a>
                        <a href="https://localhost:44330/Products/List/category1">Steam</a>
                        <a href="https://localhost:44330/Products/List/category2">EGS</a>
                        <a href="https://localhost:44330/Products/List/category3">Origin</a>
                        <a href="https://localhost:44330/WebStoreCart/CartIndex">Корзина</a>
                    </nav>
                </header>

            </div>
        </div>
    </div>
</div>

